<div class="wheel">

	<nz-modal [(nzVisible)]="isVisible" nzTitle="" [nzFooter]="null" [nzWidth]="300" [nzClosable]="false"
		(nzOnCancel)="isVisible = false">
		<div class="wheel-modal">
			<div class="modal-content">
				<i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>
				<span>{{modalContent}}</span>
			</div>
			<div class="modal-footer">
				<button nz-button nzType="default" (click)="isVisible = false" *ngIf="operationType !== 4">取消</button>
				<button nz-button nzType="primary" (click)="submit()">确定</button>
			</div>
		</div>
	</nz-modal>

	<nz-breadcrumb>
		<nz-breadcrumb-item>营销活动</nz-breadcrumb-item>
		<nz-breadcrumb-item>大转盘</nz-breadcrumb-item>
	</nz-breadcrumb>

	<div class="search">
		<label for="search">
			<span>活动：</span>
			<input class="search-input" nz-input placeholder="请输入活动名称或活动ID" [(ngModel)]="search" id="search" />
		</label>
		<button class="search-btn" nz-button nzType="primary" (click)="searchFn()">搜索</button>
	</div>

	<div class="table">
		<div class="table-top">
			<span>合计：20</span>
			<button nz-button nzType="primary" (click)="createFn()">添加</button>
		</div>
		<nz-table #basicTable [nzData]="lists" [nzPageIndex]="pageIndex" nzPageSize="10" [nzLoading]="loading"
			[nzShowQuickJumper]="true" [nzShowSizeChanger]="true" (nzPageIndexChange)="changePage($event)">
			<thead>
				<tr>
					<th nzWidth="100px">活动ID</th>
					<th nzWidth="120px">活动名称</th>
					<th>活动时间</th>
					<th>预热时间</th>
					<th nzWidth="80px">状态</th>
					<th nzWidth="340px">操作</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let data of lists">
					<td>{{data.id}}</td>
					<td>{{data.activityName}}</td>
					<td>{{data.activityTime}}</td>
					<td>{{data.activityTimeHot}}</td>
					<td>{{data.status}}</td>
					<td class="operation">
						<button nz-button nzType="danger" (click)="startFn(data.id)">开启</button>
						<button nz-button nzType="primary" (click)="stopFn(data.id)">停止</button>
						<button nz-button nzType="primary" (click)="editFn(data.id)">编辑</button>
						<button nz-button class="btn-success" (click)="resultFn(data.id)">抽奖结果</button>
						<button nz-button nzType="danger" (click)="deleteFn(data.id)">删除</button>
					</td>
				</tr>
			</tbody>
		</nz-table>
	</div>

</div>