.account-info {
  .stat {
    .stat-title {
      font-size: 22px;
      padding: 20px 0;
      border-bottom: 1px solid #ddd;
    }

    ul {
      display: flex;
      margin-top: 20px;
      li {
        width: 25%;

        >div {
          display: inline-block;
          text-align: center;
        }

        p {
          &:nth-child(1) {
            span {
              &:nth-child(1) {
                font-size: 22px;
              }

              &:nth-child(2) {
                margin-left: 4px;
                font-size: 12px;
                color: #666;
              }
            }
          }

          &:nth-child(2) {
            color: #666;
            margin-top: 5px;
          }
        }
      }
    }
  }

  .wallet {
    margin-top: 80px;

    .wallet-title {
      font-size: 20px;
    }

    .wallet-data {
      display: flex;

      li {
        // padding-right: 50px;
        width: 20%;

        &:last-child {
          width: 40%;
        }

        .wallet-btn {
          text-align: center;
        }

        p {
          text-align: center;
          margin-top: 5px;

          &:nth-child(2) {
            span {
              &:nth-child(1) {
                font-size: 22px;
              }

              &:nth-child(2) {
                margin-left: 4px;
                font-size: 12px;
                color: #666;
              }
            }
          }

          &:nth-child(3) {
            color: #666;
            margin-top: 5px;
          }
        }
      }
    }

    .wallet-info {
      display: flex;
      flex-wrap: wrap;
      margin-top: 20px;

      li {
        width: 33.3%;
        margin-top: 30px;

        span {
          &:nth-child(1) {
            color: #666;
          }

          &:nth-child(2) {}
        }
      }
    }
  }
}