.wheel-setting {
  .form {
    margin-top: 20px;
    padding-right: 20px;

    .ant-form {
      .ant-form-item-control-wrapper {
        position: relative;
      }

      .text-length {
        text-align: right;
      }

      .form-checkbox {
        display: flex;
        align-items: center;

        label {}

        .form-checkbox-right {
          margin-left: 20px;

          .ant-input-number {
            width: 100px;
          }

          span {
            &.span-left {
              margin-right: 10px;
            }

            &.span-right {
              margin-left: 10px;
            }
          }
        }
      }

      .form-city {
        .city-top {
          margin-top: 10px;

          span {
            &:nth-child(1) {}

            &:nth-child(2) {
              margin-left: 10px;
              color: #09f;
              cursor: pointer;
            }
          }
        }

        .city-list {
          margin-top: 14px;
          display: flex;
          flex-wrap: wrap;

          li {
            padding: 4px 12px;
            border: 1px dashed #999;
            border-radius: 4px;
            margin: 0 10px 5px 0;

            &:hover {
              border: 1px dashed #1890ff;
            }

            span {}

            i {
              cursor: pointer;
              margin-left: 5px;
            }
          }
        }
      }

      .table {
        .operation {
          .btn-success {
            background-color: #59b53b;
            color: #fff;
          }

          .text-success {
            color: #59b53b;
          }

          button {
            margin: 2px 5px;
          }
        }
      }

      .form-item-note {
        margin-top: 10px;
        color: #666;
      }
    }
  }
}

.wheel-modal {
  .wheel-title {
    text-align: center;
    font-size: 18px;
  }

  .wheel-form {
    margin-top: 20px;
  }

  // 选择城市样式
  .city-modal {
    .choose-city {
      margin-top: 20px;
      display: flex;

      .choose-title {
        color: #666;
        width: 100px;
      }

      ul {
        display: flex;
        flex-wrap: wrap;
        flex: 1;

        li {
          margin-left: 20px;
          margin-bottom: 10px;
          color: #1890ff;
        }
      }
    }

    .city-select {
      margin-top: 20px;

      .ant-select {
        width: 240px;
      }

    }

    .city-list {
      margin-top: 20px;

      ul {
        display: flex;
        flex-wrap: wrap;

        li {
          padding: 3px 10px;
          border: 1px solid #999;
          margin: 8px 10px;
          text-align: center;
          cursor: pointer;

          &.active {
            background-color: #1890ff;
            color: #fff;
            border: 1px solid #1890ff;
          }
        }
      }
    }

    .city-footer{
      text-align: center;
      margin-top: 20px;
    }
  }
}