.home {
  // display: flex;

  .nav-list{
    ul{
      display: flex;
      li{
        a{
          display: inline-block;
          height: 60px;
          line-height: 60px;
          padding: 0 20px;
        }
      }
    }
  }
}