.activity {
  .table {
    .table-top {
      justify-content: flex-end;

      button {
        margin-left: 15px;
      }
    }

    .operation {
      .btn-success {
        background-color: #59b53b;
        color: #fff;
      }

      button {
        margin: 2px 5px;
      }
    }

    .ant-table {
      margin-top: 10px;
    }
  }
}