/* You can add global styles to this file, and also import other style files */
@import "~ng-zorro-antd/style/index.min.css";
/* 引入基本样式 */
@import "~ng-zorro-antd/button/style/index.min.css";
@import "~ng-zorro-antd/grid/style/index.min.css";
// @import "~ng-zorro-antd/icon/style/index.min.css";
@import "~ng-zorro-antd/input/style/index.min.css";
@import "~ng-zorro-antd/checkbox/style/index.min.css";
@import "~ng-zorro-antd/select/style/index.min.css";
@import "~ng-zorro-antd/input-number/style/index.min.css";
@import "~ng-zorro-antd/upload/style/index.min.css";
@import "~ng-zorro-antd/menu/style/index.min.css";
@import "~ng-zorro-antd/breadcrumb/style/index.min.css";
@import "~ng-zorro-antd/table/style/index.min.css";
@import "~ng-zorro-antd/modal/style/index.min.css";
@import "~ng-zorro-antd/message/style/index.min.css";
@import "~ng-zorro-antd/form/style/index.min.css";
@import "~ng-zorro-antd/date-picker/style/index.min.css";
@import "~ng-zorro-antd/time-picker/style/index.min.css";


body,
html {
  color: #333;
  font-size: 14px;
}

body,
div {
  box-sizing: border-box;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.danger{
  color: red;
}

.success {
  color: #59b53b;
}

.table {
  margin-top: 20px;
  margin-right: 20px;

  .table-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {}

    button {}
  }
}

// 表格样式
.ant-table {

  .ant-table-tbody>tr>td,
  .ant-table-thead>tr>th {
    text-align: center;
  }

  .table-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}

// 模态框样式
.ant-modal {
  .ant-modal-title {
    text-align: center;
  }

  .wheel-modal {
    .modal-content {
      text-align: center;
      margin-top: 20px;

      i {
        color: #f00;
        font-size: 18px;
      }

      span {
        margin-left: 5px;
      }
    }

    .modal-footer {
      display: flex;
      justify-content: center;
      margin-top: 20px;

      button {
        margin: 0 20px;
      }
    }
  }
}