<div class="wheel-content">
  <ul nz-menu nzMode="inline">
    <li nz-menu-item nzMatchRouter [nzMatchRouterExact]="true"><a routerLink="/wheel">Fortune Wheel</a></li>
    <li nz-menu-item nzMatchRouter [nzMatchRouterExact]="true"><a routerLink="/wheel/wheel-result">Particpation Record
        of Fortune Wheel</a></li>
    <li nz-menu-item nzMatchRouter [nzMatchRouterExact]="true"><a routerLink="/wheel/candy-list">Candy Record</a></li>
  </ul>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
